* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manjari", sans-serif;
    font-size: 1.6em;
    text-align: center;
    background-color:#A10A89;
    color: white;
}

h2 {
    font-size: 1.5em;
    color: white;
}

/* ************************************************************************************** */
                                        /* NAV */
/* ************************************************************************************** */
nav {
    background-color: #FFB900;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1em;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    
}
nav ul > li > a {
    display: block;
    padding: 0.7em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ************************************************************************************** */
                                        /* NAV FIM */
/* ************************************************************************************** */



/* ************************************************************************************** */
                                        /* LOGO */
/* ************************************************************************************** */

#logo-area > img {
    width: 30%;
}

#logo-area {
    background-color: #FFB900;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
}

/* ************************************************************************************** */
                                        /* LOGO FIM */
/* ************************************************************************************** */

#Banner > img {
    width: 100%;
}


.flex-group-sobre-o-espaço {
    display: flex;
    justify-content: right;
    width: 100%;
}

.flex-group-sobre-o-espaço.grupo-cima {
    flex-direction: row;
}

#rodape {
    background-color: #FFB900;
    text-align: center;
}

.nossoespaco {
    text-align: left;
    font-size: 2em;
    width: 100%;
}

a {
    display: block;
    padding: 0.7em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}