
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=., initial-scale=1.0">
    <!-- <meta name="viewport" content="width=., initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/roletop-principal.css" />
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <title>Pagina inicial</title>
</head>

<body>
    <header>
        <section id="logo-area">
            <img class="logo" src="img/logo.png" />
        </section>
        <nav>
            <ul>
                <li><a href="roletop-principal.html">Inicial</a></li>
                <li><a href="fotos.html">Fotos</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="mais.html">Mais</a></li>
            </ul>
        </nav>
    </header>

            @RenderBody()

<section id="rodape">
        <footer>
            <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                11 1234 6789
            </address>
        </footer>
        <a href="#">Inicio da página</a>
    </section>

</body>

</html>

