@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=., initial-scale=1.0">
    <!-- <meta name="viewport" content="width=., initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/roletop-principal.css" rel="stylesheet" type="text/css"  />
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet" />
    <title>Pagina inicial</title>
    
    @if(!"Home".Equals(@Model.NomeView))
    {
        <link href="~/css/fotos.css" rel="stylesheet" type="text/css"/>
        <link href="~/css/login.css" rel="stylesheet" type="text/css"/>
        <link href="~/css/mais.css" rel="stylesheet" type="text/css" />
    }

</head>

<body>
    <header>
        <section id="logo-area">
            <img class="logo" src="/img/logo.png" />
        </section>
        <nav>
            <ul>
                
                <li class="bt-commom-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" class="active" >Inicial</a></li>
                <li class="bt-commom-menu"><a onclick="toggleMobileMenu()" asp-controller="Galeria" asp-action="Fotos" >Fotos</a></li>
            <li class="bt-commom-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Login">Login</a></li>
                <li class="bt-commom-menu"><a onclick="toggleMobileMenu()" asp-controller="Mais" asp-action="Mais">Mais</a></li>
            </ul>
        </nav>
        
        @if("Home".Equals(@Model.NomeView))
        {
            Html.RenderPartial("_HeaderHomePage");
        }


    </header>

    @RenderBody()

<section id="rodape">
        <footer>
            <address>
                <br />
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                11 1234 6789
            </address>
        </footer>
        <a href="#">Inicio da página</a>
    </section>

    <script>
        function toggleMobileMenu() {
        var ul = document.querySelector("nav ul");
        var commonButtons = document.querySelectorAll("nav .bt-common-menu");
        var icon = document.querySelector(".icon > i");

        ul.classList.toggle("mobile-mode");

        if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-skull");
        } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-skull");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
        }

        for (var button of commonButtons) {
                button.classList.toggle("active");
        }

        }
        
</script>

</body>

</html>

