<main>
        <section id="Dashboard">
            <h2>Aceite e Recusa de Eventos</h2>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome do evento</th>
                        <th rowspan="3">Data e Horário</th>
                        <th colspan="1">Categoria</th>
                        <th rowspan="2">Serviços Adicionais</th>
                        <th colspan="1" rowspan="1">Aprovar Evento</th>
                        <th colspan="1" rowspan="1">Cancelar Evento</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Casamento Fabrício e Judson</td>
                        <td>Dia 24/06/2019 às 20hrs</td>
                        <td>Casamento</td>
                        <td>Som e Iluminação</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                    <tr>
                        <td>Germinia faz 10 anos</td>
                        <td>Dia 23/05/2019 às 13hrs</td>
                        <td>Aniversário</td>
                        <td>Som</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <section id="Dashboard2">
            <h2>Situação dos eventos</h2>
            <table>
                <thead>
                    <tr>
                        <th rowspan="3">Nome do evento</th>
                        <th rowspan="3">Aceito</th>
                        <th colspan="1">Recusado</th>
                        <th rowspan="2">Pendentes</th>
                        <th colspan="2">Realizado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Casamento Fabrício e Judson</td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fas fa-check"></i></a></td>
                    </tr>
                    <tr>
                        <td>Germinia faz 10 anos</td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fas fa-check"></i></a></td>
                    </tr>
                </tbody>
                <tr>
                    <td>Show Sandy e Júnior</td>
                    <td><a><i class="fas fa-check"></i></a></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Evento de Intercâmbio Trivago</td>
                    <td></td>
                    <td><a><i class="fas fa-check"></i></a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Evento Coorporativo para parar de Trabalhar</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a><i class="fas fa-check"></i></a></td>
                </tr>
                </tbody>
            </table>
        </section>


    </main>