<main>
<h2>Dúvidas Frequentes</h2>
    <img src="/img/imagem faq.png"  />
    <p>Pode quebrar?</p>
    <p>Pode queimar?</p>
    <p>Pode molhar?</p>
    <p>Pode destruir?</p>

    <p>Ou envie sua dúvida para nós!</p>
    <form method="POST" action='@Url.Action("EnviarDuvida", "FAQ")'>

        <div>
            <label for="email">E-mail</label>
            <br />
            <input id="email" type="email" maxlength="35" minlength="10" name="E-mail" />
        </div>
        <input type="submit" value="Enviar" />
    </form>
</main>