<main>
    <br />
    <h2>?Duvidas Frequentes?</h2>
    <br />
    <section id="imagemfaq">
    <img src="/img/imagem faq.png" style="width: 30%"/>
    </section>
    <br />
    <p>Pode quebrar?</p>
    <p>Pode queimar?</p>
    <p>Pode molhar?</p>
    <p>Pode destruir?</p>
    <br />

    <p>Ou envie sua dúvida para nós!</p>
    <form method="GET" action="mais.html">

        <div>
            <label for="email">E-mail</label>
            <br />
            <input id="email" type="email" maxlength="35" minlength="10" name="E-mail" />
        </div>

        <div>
            <label for="dúvida">Senha</label>
            <br />
            <input id="duvida" type="doubt" maxlength="25" minlength="6" />
        </div>
        <input type="submit" value="Enviar" />
    </form>
</main>