<main>
    <br/>
    <h2>
        Serviços Adicionais
    </h2>
    <p>Deixe seu evento mais completo
    <br />
    e divertido e ao cadastrar seu evento 
    <br />
    escolha fazer a iluminação da sua festa 
    <br />
    conosco</p>
    <br /><br />
    <img id="iluminacao" src="/img/iluminacao.png"/>
    <h3>
        Iluminação
    </h3>
    <h3>
        Som
    </h3>
    <img id="som" src="/img/som.png" >
    <p>Faça seu evento com 
        <br/>
    a gente e contrate 
    <br/>
    nosso serviço de 
    <br/>
    som!</p>

    <p>Se tiver alguma dúvida fique a vontade 
        para visitar nosso FAQ clicando aqui:</p>
    <img src="/img/iconeFAQ.png" asp-controller="FAQ" asp-action="Faq" class="active">
    <br/>
    <br/>
</main>