
    <main>

        <section id="Banner">
            <img src="img/banner.png" />
        </section>

        <section id="SobreoEspaço">
            <div class="section-container">
                <br />
                <h2>Sobre o Espaço</h2>
                <br />
                <div class="flex-group-sobre-o-espaço">

                    <div class="nossoespaco">
                        <p>Nosso espaço conta com uma infraestrutura
                            <br />
                            acessível para todos os tipos de pessoas,
                            <br />
                            além de possuir um espaço confortável e privado
                            <br />
                            de 150X40 metros. Cadastre - se no nosso site e 
                            <br />
                            e reserve uma data conosco!</p>
                    </div>
                    <hgroup class="grupo-baixo">
                        <div class="icon-container">
                            <img src="img/icone confiança.png" />
                        </div>
                        <div class="icon-container">
                            <img src="img/icone fidelidade.png" />
                        </div>
                    </hgroup>
                    <hgroup class="grupo-cima">
                        <div class="icon-container">
                            <img src="img/icone segurança.png" />
                        </div>
                        <div class="icon-container">
                            <img src="img/icone diversao.png" />
                        </div>
                    </hgroup>

                </div>

        </section>
        </div>

        <section id="evento-da-semana">
            <ul>
                <li>Evento da Semana</li>
            </ul>
            <h2>Casamento Romeu e Julieta</h2>
            <img src="img/goiabadaequeijo.jpg">
            <p>Neste ilustre domingo, dia 14/09 ás 13hrs,
                <br />
                Romeu e Julieta iram finalmente celebrar
                <br />
                sua união. </p>
                <br />
        </section>

        <section id="Local">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.891970953056!2d-46.648477085022684!3d-23.536387584695266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843d981c42f%3A0xaa6c15f8c7e2c130!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539!5e0!3m2!1spt-BR!2sbr!4v1567451014055!5m2!1spt-BR!2sbr"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </section>

    </main>

