<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/portifóliostyle.css" />
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>Portifólio da Larissa</title>
</head>

<body>
    <section id="titulo">
    <p>Portifólio da Larissinha</p>
    </section>
    
    <header>

        <nav>
            <ul>
                <li><a href="#Informações gerais">Informações Gerais</a></li>
                <li><a href="#Lazer">Lazer</a></li>
                <li><a href="#Área Profissional">Área profissional</a></li>
                <li><a href="#Mais sobre mim">Mais sobre mim</a></li>
            </ul>
            
        </nav>
    </header>

</body>

<main>
    <section id="Informações gerais">

        <h2>Informações Gerais</h2>
        <p>Larissa Carvalho Marcondes estudou na Escola Estadual República de Nicarágua,
            <br />
            tem 18 anos e pretende cursar a área de tecnologia na faculdade. Seus pais são
            <br />
            separados por isso ela mora com a mãe.
            <br />
            <img src="img/Sem Título-1.png" title="Artwork nome Larissa" alt="Artwork nome Larissa" />
        </p>
    </section>
    
    <section id="Lazer">
        <h2>Lazer</h2>
        <p>Seus passatempos preferidos incluem assistir séries, ler livros e ver filmes.</p>
        <p>Suas séries favoritas são:</p>
        <ol>
            <br />
            <li>Friends</li>
            <br />
            <img src="img/friends.jpg" title = "Friends" alt = "Série de televisão: Friends"/>
            <br />
            <br />
            <li>Grey's Anatomy</li>
            <br />
            <img src="img/greysanatomy.jpg" title="Grey's Anatomy" alt="Série de televisão: Grey's Anatomy"/>
            <br />
            <br />
            <li>Stranger Things</li>
            <br />
            <img src="img/strangerthings.jpg" title="Stranger Things" alt="Série da Netflix: Stranger Things"/>
            <br />
            <br />
            <li>Breaking Bad</li>
            <br />
            <img src="img/breakingbad.jpg" title="Breaking Bad" alt="Série de Televisão: Breaking Bad"/>
            <br />
            <br />
            <li>Vikings</li>
            <br />
            <img src="img/vikings.jpg" title="Vikings" alt="Série de Televisão: Vikings"/>
            <br />
            <br />
            <li>How To Get Away With Murder</li>
            <br />
            <img src="img/htgawm.jpg" title="How To Get Away With Murder" alt="Série de Televisão: How To Get Away With Murder"/>
        </ol>
        <br />
        <p>
            As duas sagas de livro preferidas de Larissa são: Harry Potter e Game of Thrones
        </p>
        <img src="img/gueera dos tronos.jfif" title="Livros GOT" alt="Livros Game of Thrones" /> <img
            src="img/a pedra filosofal.jpg" title="Livro Harry Potter" alt="Livro Harry Potter" />

    </section>
    <br />

    <section id="Área Profissional">
        <h2>Área Profissional</h2>
        <p>Larissinha, minha colegs, como já foi dito anteriormente,
            <br />
            pretende seguir na área tecnológica no momento, porém não descarta
            <br />
            outras áreas como a da saúde e de direto.
        </p>
    </section>

    <br />

    <section id="Mais sobre mim">
        <h2>Mais sobre mim</h2>
        <p>Além de tudo ja mencionado, Larissa gosta da cor azul e de seus
            <br />
            tons e gosta de música pop, raggae, eletrônica, pop brasileiro
            <br />
            e sertanejo.</p>
            <br/>
    </section>

    <section id = "rodapé">
        <p>valeu pela presença volte sempre rapaziada</p>
        <p><a href="#">Voltar ao topo</a></p>
    </section>
</main>

</html>