<main>
    <br/>
        <h2>Login</h2>

        <form method="POST" action='@Url.Action("Login", "Cliente")'>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" maxlength="35" minlength="10" name="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" maxlength="25" minlength="6" name="senha"/>
            </div>

            <input type="submit" value="Entrar" />
        </form>
        <br />
        <a asp-controller="Cadastro" asp-action="IndexCadastro">Se não possui conta, cadastre-se agora!</a>
        <br />
        <br />
        <a href="adm.html">Sou administrador</a>
    </main>
    