<main>
    <br/>
        <h2>Login</h2>

        <form method="POST" action='@Url.Action("Login", "Cliente")'>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" maxlength="35" minlength="10" name="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" maxlength="25" minlength="6" name="senha"/>
            </div>

            <input type="submit" value="Entrar" />
        </form>
        <br />
        <p>Se não possui conta, <a asp-controller="Cadastro" asp-action="IndexCadastro">cadastre-se agora!</a></p>
        <br />
        <br />
    </main>
    
    <section id="rodape">
        <footer>
            <address>
                <br />
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                11 1234 6789
            </address>
        </footer>
        <a href="#">Inicio da página</a>
    </section>