<main>
        <h2>Nome Completo</h2>

        <img src="img/icone usuário.png" id="icone-usuario" />

        <section class="topicos">
            <p>Minha Conta</p>
            <br />
            <br />
            <br />
            <br />
            <p>Meus Eventos</p> <a href="cadastro-eventos.html">
                <p>Cadastre seu evento</p>
            </a>

            <p>Cancelamentos</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </section>
    </main>