<main>
        <h2>Galeria de Fotos</h2>
        <section id="pastas">
            <a ><img src="/img/pasta casamentos.jpg" /></a>
            <hgroup class="imagens">
                <a ><img src="/img/pasta aniversários.png" /></a>
                <a ><img src="/img/pasta shows.png" /></a>
            </hgroup>
            <a ><img src="/img/pasta planta.png" /></a>
            <img src="/img/pasta debutantes.png" /></a>
        </section>
    </main>