<main>
        <h2>Galeria de Fotos</h2>
        <section id="pastas">
            <a href="pastacasamentos.html"><img src="/img/pasta casamentos.jpg" /></a>
            <hgroup class="imagens">
                <a href="pastaaniversarios.html"><img src="/img/pasta aniversários.png" /></a>
                <a href="pastashows.html"><img src="/img/pasta shows.png" /></a>
            </hgroup>
            <a href="pastaplanta.html"><img src="/img/pasta planta.png" /></a>
            <a href="pastadebutantes.html"><img src="/img/pasta debutantes.png" /></a>
        </section>
    </main>