html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manjari", sans-serif;
    font-size: 1.6em;
    text-align: center;
    background-color:#A10A89;
    color: white;
    height: 100%;
}


h2 {
    font-size: 1.5em;
    color: white;
}

/* ************************************************************************************** */
                                        /* NAV */
/* ************************************************************************************** */
nav {
    background-color: #FFB900;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    list-style-type: none;
}

nav ul > li {
    width: 100%;
    text-align: center;
}

nav ul > li > a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul > li > a:hover {
    background-color: #A10A89;
    color: white;
}

/* ************************************************************************************** */
                                        /* NAV FIM */
/* ************************************************************************************** */



/* ************************************************************************************** */
                                        /* LOGO */
/* ************************************************************************************** */

#logo-area > img {
    width: 30%;
}

#logo-area {
    background-color: #FFB900;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
}

/* ************************************************************************************** */
                                        /* LOGO FIM */
/* ************************************************************************************** */

form input, form select {
    width: 45%;
    height: 30px;
    border: none;
    padding: 0 2px;
    text-align: center;
    border-radius: 2em;
}

form label {
    color: white;
    font-weight: bold;
}

form input[type="submit"] {
    margin: 20px 0;
    height: 2em;
    border-radius:3px;
    font-weight: bold;
    border-radius: 2em;
}

#rodape {
    background-color: #FFB900;
    text-align: center;
}

a {
    display: block;
    padding: 0.7em;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

