* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manjari", sans-serif;
    font-size: 1em;
    text-align: center;
    background-color:#A10A89;
    color: white;
}

h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

/* ************************************************************************************** */
                                        /* NAV */
/* ************************************************************************************** */
nav {
    background-color: #FFB900;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    list-style-type: none;
}

nav ul > li {
    width: 100%;
    text-align: center;
}

nav ul > li > a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul > li > a:hover {
    background-color: #A10A89;
    color: white;
}

/* ************************************************************************************** */
                                        /* NAV FIM */
/* ************************************************************************************** */



/* ************************************************************************************** */
                                        /* LOGO */
/* ************************************************************************************** */

#logo-area > img {
    width: 30%;
}

#logo-area {
    background-color: #FFB900;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
}

/* ************************************************************************************** */
                                        /* LOGO FIM */
/* ************************************************************************************** */

#Banner > img {
    width: 100%;
}


.flex-group-sobre-o-espaço {
    display: flex;
    justify-content: right;
    width: 30%;
}

.flex-group-sobre-o-espaço.grupo-cima {
    flex-direction: row;
}

#rodape {
    background-color: #FFB900;
    text-align: center;
}

.nossoespaco {
    text-align: left;
    font-size: 2em;
    width: 100%;
}

a {
    display: block;
    padding: 0.7em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
@media (max-width: 1000px) {
    
    nav #bt-mobile-menu {
        display: block;
    }

    nav .bt-common-menu {
        display: none;
    }

    nav .bt-common-menu.active {
        display: block;
    }

    nav ul.mobile-mode {
        display: flex;
        flex-direction: column;
    }
}

